*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background: url('../imagens/impressao.gif') no-repeat,#407af7;
background-blend-mode: screen;
background-size: 100% 100%;

}
@media (min-width: 300px) {
  .menu {
    font-size: 25px;
	
  }
.teste{
font-size: 10px;
}
}
@media (min-width: 600px) {
  .menu {
    font-size: 30px;
	
  }
.teste{
font-size: 15px;
}
}


header{
height:100vh;
display:flex;
justify-content: center;
align-items: center;
}

.menu{
  background-color: white;
  position:fixed;
  width: 100vw;
  top:0;
}

a {
  color: teal;
  text-decoration: none;
  font-size: 1em;
  display: block;
}
.menu li:hover .book{
    cursor:pointer;
text-align:center;
	

}
.menu li:hover .portfolio{
    cursor:pointer;
text-align:center;

}
.menu li:hover .email{
    cursor: pointer;
text-align:center;

}
.menu li:hover .icon1{
background: url('../imagens/book.gif') no-repeat;
background-size: contain;
width:7em;
height:7em;
justify-content: center;
}
.menu li:hover .icon2{
background: url('../imagens/document.gif') no-repeat;
background-size: contain;
width:7em;
height:7em;
justify-content: center;
}
.menu li:hover .icon3{
background: url('../imagens/email.gif') no-repeat;
background-size: contain;
width:7em;
height:7em;
justify-content: center;
}

.menu li{
  list-style: none;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}
.site-subtitle,
.site-title{ 
  text-align:center;
  color:white;
  text-shadow: 2px 2px 10px black;
  letter-spacing: 5px;
  font-size: 9em;
}
.site-subtitle{
font-style: italic;
}
