body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9b/The.Matrix.glmatrix.2.png');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}
.menu{
  background-color: white;
}
a {
  color: teal;
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}

.menu li{
  list-style: none;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}
.site-subtitle,
.site-title{
  color:whitesmoke;
  text-align: center;
}
.site-subtitle{
font-style: italic;
}